<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <!-- Home tuşu bir buton olarak değiştirildi -->
        <a class="btn btn-primary btn-sm" href="{{ url_for('main_bp.home') }}" style="margin-right: 50px;">Home</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="gap: 50px;">
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'main_bp.songs' %}fw-bold{% endif %}" 
                       aria-current="page" href="{{ url_for('main_bp.songs') }}">Şarkılar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'main_bp.albums' %}fw-bold{% endif %}" 
                       href="{{ url_for('main_bp.albums') }}">Albümler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'main_bp.artists' %}fw-bold{% endif %}" 
                       href="{{ url_for('main_bp.artists') }}">Sanatçılar</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.endpoint.startswith('fav_bp') %}fw-bold{% endif %}" 
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Favoriler
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('fav_bp.favorite_songs') }}">Şarkılar</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('fav_bp.favorite_albums') }}">Albümler</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('fav_bp.favorite_artists') }}">Sanatçılar</a></li>
                    </ul>
                </li> 
            </ul>
            
            <form class="d-flex" role="search" method="GET" action="{{ url_for('main_bp.search') }}">
                <!-- Arama kelimesi için input -->
                <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
                <!-- Hangi sayfada arama yapacağız? (songs, artists, albums) -->
                <input type="hidden" name="selected_page" value="{{ selected_page }}">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
