{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div style="display: flex; flex-wrap: wrap; gap: 25px; justify-content: center; margin: 0px;">
    {% if selected_page == 'home' %}
        {% if current_user.is_authenticated %}
            <!-- Welcome message -->
            <div class="col-like" style="text-align: center;">
                <h2>Welcome, {{ user_name }}!</h2>
                <h4>Some recommendations</h4>
                <h5>only for you</h5>
            </div>
            <!-- Recommendations for tracks -->
            {% if recommendations.tracks %}
            <div class="row row-like">
                <h3>Tracks</h3>
                {% for track in recommendations.tracks %}
                <div class="col col-like">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="https://picsum.photos/600/400?random={{ loop.index }}" class="card-img-top" alt="Track Cover">
                        <div class="card-body">
                            <h4 class="card-title">{{ track.title }}</h4>
                            <a 
                                href="{{ url_for('track_bp.track_detail', track_id=track.track_id, artist_id=track.artist_id, index=loop.index) }}" 
                                class="btn btn-primary align-self-start"
                            >
                                Details
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <!-- Recommendations for albums -->
            {% if recommendations.albums %}
            <div class="row row-like">
                <h3>Albums</h3>
                {% for album in recommendations.albums %}
                <div class="col col-like">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="https://picsum.photos/600/400?random={{ loop.index + 21 }}" class="card-img-top" alt="Album Cover">
                        <div class="card-body">
                            <h4 class="card-title">{{ album.release_title }}</h4>
                            <a 
                                href="{{ url_for('album_bp.album_detail', release_id=album.release_id, artist_id=album.artist_id) }}" 
                                class="btn btn-primary align-self-start"
                            >
                                Details
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <!-- Recommendations for artists -->
            {% if recommendations.artists %}
            <div class="row row-like">
                <h3>Artists</h3>
                {% for artist in recommendations.artists %}
                <div class="col col-like">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="https://picsum.photos/600/400?random={{ loop.index + 42 }}" class="card-img-top" alt="Artist Cover">
                        <div class="card-body">
                            <h4 class="card-title">{{ artist.artist_name }}</h4>
                            <a 
                                href="{{ url_for('artist_bp.artist_detail', artist_id=artist.artist_id) }}" 
                                class="btn btn-primary align-self-start"
                            >
                                Details
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        {% else %}
            <div class="container-fluid p-0">
                <div id="marketingCarousel" class="carousel slide" data-bs-ride="false">
                    <div class="carousel-inner">
                        <!-- Slide 1 -->
                        <div class="carousel-item active">
                            <img src="{{ url_for('static', filename='images/song.jpg') }}" alt="Popüler Şarkılar">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                <h2>Popüler Şarkılar</h2>
                                <p class="lead">Tüm favori şarkılarınızı bir arada bulabilirsiniz. Beatport ile müzik zevkinizi zirveye taşıyın!</p>
                                <a href="{{ url_for('main_bp.songs') }}" class="btn btn-primary mt-3">Şarkıları Keşfet</a>
                            </div>
                        </div>

                        <!-- Slide 2 -->
                        <div class="carousel-item">
                            <img src="{{ url_for('static', filename='images/album.jpg') }}" alt="Öne Çıkan Albümler">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                <h2>Öne Çıkan Albümler</h2>
                                <p class="lead">Müzik dünyasının en iyi albümleri bir tık uzağınızda. Şimdi keşfedin!</p>
                                <a href="{{ url_for('main_bp.albums') }}" class="btn btn-primary mt-3">Albümleri Keşfet</a>
                            </div>
                        </div>

                        <!-- Slide 3 -->
                        <div class="carousel-item">
                            <img src="{{ url_for('static', filename='images/artist.jpg') }}" alt="Sanatçıları Keşfedin">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                <h2>Sanatçıları Keşfedin</h2>
                                <p class="lead">Sevdiğiniz sanatçıların en yeni şarkılarını dinleyin ve müzik dünyasındaki keşfinizi genişletin.</p>
                                <a href="{{ url_for('main_bp.artists') }}" class="btn btn-primary mt-3">Sanatçıları Keşfet</a>
                            </div>
                        </div>

                        {% if not current_user.is_authenticated %}
                        <!-- Slide 4 -->
                        <div class="carousel-item">
                            <img src="{{ url_for('static', filename='images/login.jpg') }}" alt="Favori Listenizi Oluşturun">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                <h2>Favori Listenizi Oluşturun</h2>
                                <p class="lead">Favori şarkılarınızı ve albümlerinizi kaydedin. Kendi özel müzik arşivinizi oluşturmak için üye olun!</p>
                                <a href="{{ url_for('auth_bp.register') }}" class="btn btn-success mt-3">Hemen Kayıt Ol</a>
                            </div>
                        </div>
                        {% endif %}

                    <!-- Slider Navigation -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#marketingCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Önceki</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#marketingCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Sonraki</span>
                    </button>
                </div>
            </div>
        {% endif %}

    {% elif selected_page == 'songs' %}
            <!-- Arama yapıldıysa (query doluysa) ekrana üstte solda, yatay olarak kaplayan bir blokta başlığı gösteriyoruz -->
        {% if query %}
        <div class="container-fluid py-2 mb-1 ps-6" style="background-color: transparent; padding-left: 80px;">
            <!-- text-primary ile mavi, mb-0 ile alt boşluk kaldırdık -->
            <h2 class="text-primary mb-0">Arama Sonuçları : {{ query }}</h2>
        </div>  
        {% endif %}

        <!-- Arama sonucu döndüyse o sonuçları normal 'songs' listesine atıyoruz -->
        {% if search_results %}
            {% set songs = search_results %}
        {% endif %}

        <!-- Şarkı listesi varsa kartları döngüye sokuyoruz. Kartın yapısını aynen koruyoruz. -->
        {% if songs and songs|length > 0 %}
        <div class="container">
            <div class="row-like">
                {% for song in songs %}
                <div class="col-like">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="https://picsum.photos/600/400?random={{ loop.index }}" alt="Random Image">
                        <div class="card-body">
                            <h4 class="card-title">{{ song.song_title }}</h4>
                            <p class="card-text">{{ song.artist_names }}</p>
                            <a 
                            href="{{ url_for('track_bp.track_detail', track_id=song.track_id, artist_id=song.artist_ids.split(',')[0], index=loop.index) }}" 
                            class="btn btn-primary align-self-start">
                            Details
                            </a>
                        </div>
                    </div>
                </div>
                {% if loop.index is divisibleby 4 %}
                    </div><div class="row-like">
                {% endif %}
                {% endfor %}
            </div>

            <!-- PAGINATION CONTROLS -->
            <!-- MINIMAL PAGINATION CONTROLS: Prev / [current] / Next -->
            {% if total_pages > 1 %}
            <div class="pagination-top">
                <!-- Prev button -->
                {% if page > 1 %}
                <a 
                    href="{{ url_for('main_bp.songs', page=page-1) }}" 
                    class="btn btn-secondary me-2"
                >
                    Prev
                </a>
                {% endif %}
                
                <!-- Current page (disabled button) -->
                <span class="btn btn-primary disabled me-2">{{ page }}</span>
                
                <!-- Next button -->
                {% if page < total_pages %}
                <a 
                    href="{{ url_for('main_bp.songs', page=page+1) }}" 
                    class="btn btn-secondary"
                >
                    Next
                </a>
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% else %}
            <!-- Eğer hiçbir sonuç yoksa kullanıcıya basit bir uyarı mesajı gösteriyoruz -->
            <p class="text-danger mt-3">Aradığınız kriterlere uygun bir sonuç bulunamadı.</p>
        {% endif %}

        {% elif selected_page == 'albums' %}
        <!-- Arama yapıldıysa (query doluysa) ekrana üstte solda, yatay olarak kaplayan bir blokta başlığı gösteriyoruz -->
        {% if query %}
        <div class="container-fluid py-2 mb-1 ps-6" style="background-color: transparent; padding-left: 80px;">
            <!-- text-primary ile mavi, mb-0 ile alt boşluk kaldırdık -->
            <h2 class="text-primary mb-0">Arama Sonuçları : {{ query }}</h2>
        </div>
        {% endif %}
    
        <!-- Arama sonucu döndüyse o sonuçları normal 'albums' listesine atıyoruz -->
        {% if search_results %}
            {% set albums = search_results %}
        {% endif %}
    
        <!-- Albüm listesi varsa kartları döngüye sokuyoruz. -->
        {% if albums and albums|length > 0 %}
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4"> <!-- 3 sütun düzeni için row-cols-md-3 kullanıldı -->
                {% for album in albums %}
                <div class="col">
                    <div class="card h-100" style="width: 100%;"> <!-- Yükseklik eşitlemek için h-100 eklendi -->
                        <img src="https://picsum.photos/600/400?random={{ loop.index }}" class="card-img-top" alt="Album Cover">
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title">{{ album.release_title }}</h4>
                            <p class="card-text" style="margin-top: auto; margin-bottom: auto;">{{ album.artist_name }}</p>
                        </div>
                        <div class="card-footer text-end"> <!-- Details düğmesini sağ alta taşımak için text-end kullanıldı -->
                            <a
                            href="{{ url_for('album_bp.album_detail', release_id=album.release_id, artist_id=album.artist_ids.split(',')[0]) }}"   
                            class="btn btn-primary"
                            >
                            Details
                            </a>
                        </div>
                    </div>
                </div>
                
                {% endfor %}
                
            </div>
            <!-- PAGINATION CONTROLS -->
            <!-- MINIMAL PAGINATION CONTROLS: Prev / [current] / Next -->
            {% if total_pages > 1 %}
            <div class="pagination-top">
                <!-- Prev button -->
                {% if page > 1 %}
                <a 
                    href="{{ url_for('main_bp.albums', page=page-1) }}" 
                    class="btn btn-secondary me-2"
                >
                    Prev
                </a>
                {% endif %}
                
                <!-- Current page (disabled button) -->
                <span class="btn btn-primary disabled me-2">{{ page }}</span>
                
                <!-- Next button -->
                {% if page < total_pages %}
                <a 
                    href="{{ url_for('main_bp.albums', page=page+1) }}" 
                    class="btn btn-secondary"
                >
                    Next
                </a>
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% else %}
            <!-- Eğer hiçbir sonuç yoksa kullanıcıya basit bir uyarı mesajı gösteriyoruz -->
            <p class="text-danger mt-3">Aradığınız kriterlere uygun bir sonuç bulunamadı.</p>
        {% endif %}

        {% elif selected_page == 'artists' %}

        {% if query %}
        <div class="container-fluid py-2 mb-1 ps-6" style="background-color: transparent; padding-left: 80px;">
            <h2 class="text-primary mb-0">Arama Sonuçları : {{ query }}</h2>
        </div>
        {% endif %}

        {% if search_results %}
            {% set artists = search_results %}
        {% endif %}

        {% if artists and artists|length > 0 %}
        <div class="container">
            <div  class="row-like">
                {% for artist in artists %}
                <div class="col-like">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="https://picsum.photos/600/400?random={{ loop.index }}" class="card-img-top" alt="Artist Cover">
                        <div class="card-body">
                            <h4 class="card-title">{{ artist.artist_name }}</h4>
                            <a 
                                href="{{ url_for('artist_bp.artist_detail', artist_id=artist.artist_id) }}" 
                                class="btn btn-primary align-self-start"
                            >
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            
                {% if loop.index is divisibleby 4 %}
                </div><div class="row-like">
                {% endif %}
                {% endfor %}
            </div>
            <!-- PAGINATION CONTROLS -->
            <!-- MINIMAL PAGINATION CONTROLS: Prev / [current] / Next -->
            {% if total_pages > 1 %}
            <div class="pagination-top">
                <!-- Prev button -->
                {% if page > 1 %}
                <a 
                    href="{{ url_for('main_bp.artists', page=page-1) }}" 
                    class="btn btn-secondary me-2"
                >
                    Prev
                </a>
                {% endif %}
                
                <!-- Current page (disabled button) -->
                <span class="btn btn-primary disabled me-2">{{ page }}</span>
                
                <!-- Next button -->
                {% if page < total_pages %}
                <a 
                    href="{{ url_for('main_bp.artists', page=page+1) }}" 
                    class="btn btn-secondary"
                >
                    Next
                </a>
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% else %}
            <p class="text-danger mt-3">Aradığınız kriterlere uygun bir sonuç bulunamadı.</p>
        {% endif %}
        

    {% else %}
      <p>Sayfa bulunamadı.</p>
    {% endif %}

</div>
{% endblock %}
